
<a href="/eat-browse">Browse</a>
<p>Customize</p>

<a href="/user-recipes/breakfast">Breakfast</a>
<br>
<a href="/user-recipes/dinner">dinner</a>

<div class="well">
  Breakfast
</div>

<div class="well">
  Dinner
</div>


<a href="/eat-customize">Eat</a>

<a href="/prepare-customize">Prepare</a>

<a href="/dashboard">Home</a>

<a href="/track">Track</a>
