<h4> <a href="/MyAccount">My Account</a> </h4>
<h4> <a href="/Intro-Video">Intro Video</a> </h4>
<h4> <a href="/Meet-The-Team">Meet the Team</a> </h4>
<h4> <a href="/Rate-The-App">Rate the app</a> </h4>
<h4> <a href="/Share-Your-Sessions">Share Your Sessions</a> </h4>
<h4> <a href="/cart">Cart</a> </h4>
<h4> <a href="/logout">Logout</a> </h4>
